// Colours
$ColourLight: #f8f3d9;
$ColourMedium: #ebe5c2;
$ColourMediumDark: #b9b28a;
$ColourDark: #504b38;

// Fonts
$HeaderFooterColour: lightGrey;
$NavBarFont: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$CommonFont: "Times New Roman", Times, serif;
$ArticleTitleFont: Cambria, Cochin, Georgia, Times, "Times New Roman";

// Image sizes
// $ContentImageWidth: 724px;
$ContentImageWidth: 100%;
$ContentImageHeight: 400px;

// Button
%ArticleButton {
  width: max-content;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  border: 1px solid $ColourDark;
  color: $ColourMediumDark;

  &:hover {
    border: 1px solid white;
    background-color: $ColourMedium;
    color: $ColourDark;
  }
}

%LoginAndRegisterButton {
  padding: 10px;
  border: 1px solid $ColourDark;
  background-color: $ColourDark;
  cursor: pointer;
  color: white;

  &:hover {
    border: 1px solid white;
    background-color: $ColourMedium;
    color: $ColourDark;
  }
}

.app {
  display: flex;
  justify-content: center;
  font-family: $CommonFont;
  .container {
    width: 1024px;
    .link {
      text-decoration: none;
      color: inherit;
    }

    // Login and Register

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $ColourLight;

      h1 {
        font-size: 30px;
        color: $ColourDark;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: white;
        width: 250px;
        gap: 10px;
      }

      input {
        padding: 5px;
        border: none;
        border-bottom: 1px solid $ColourMediumDark;
      }

      button {
        @extend %LoginAndRegisterButton;
      }

      p {
        font-size: 10px;
        text-align: center;
        color: Red;
      }

      span {
        font-size: 10px;
        text-align: center;
      }

      Link {
        text-decoration: none;
      }
    }
    //Navigation bar

    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $HeaderFooterColour;
        border-radius: 0 0 20px 20px;

        .logo {
          img {
            width: 100px;
          }
        }

        .links {
          display: flex;
          align-items: center;
          font-family: $NavBarFont;
          gap: 10px;
          padding: 10px;
        }

        h6 {
          font-size: 16px;
          font-weight: 300;
        }

        span {
          cursor: pointer;
          font-style: italic;
        }

        .write {
          background-color: $ColourLight;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 300;
          border: 2px solid white;

          &:hover {
            color: $ColourDark;
            background-color: white;
            border: 2px solid $ColourDark;
          }
        }
      }
    }

    // Footer

    footer {
      margin-top: 100px;
      background-color: $HeaderFooterColour;
      border-radius: 20px 20px 0 0;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;

      img {
        height: 50px;
      }
    }

    // HOME

    .home {
      .posts {
        margin: 50px;
        display: flex;
        flex-direction: column;
        gap: 100px;

        .post {
          display: flex;
          gap: 100px;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .img {
            flex: 2;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              border-radius: 15px;
              background-color: lightgray;
              position: absolute;
              top: 10px;
              left: -10px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-height: 400px;
              border-radius: 15px;
              object-fit: cover;
            }
          }
          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
              font-size: 40px;
            }

            p {
              text-align: justify;
              font-size: 15px;
            }

            button {
              @extend %ArticleButton;
            }
          }
        }
      }
    }

    //Single

    .single {
      margin-top: 25px;
      display: flex;
      gap: 25px;

      .content {
        flex: 5;

        img {
          width: $ContentImageWidth;
          height: $ContentImageHeight;
          object-fit: cover;
          border-radius: 20px;
        }

        .user {
          display: flex;
          margin-top: 10px;
          align-items: center;
          gap: 10px;
          font-size: 13px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 14px;
            font-family: "Times New Roman", Times, serif;
            font-weight: bold;
          }

          p {
            margin: 0px;
            font-family: $NavBarFont;
            font-style: italic;
          }

          .edit {
            display: flex;
            gap: 5px;

            img {
              width: 30px;
              height: 30px;
              cursor: pointer;
            }
          }
        }

        .article {
          h1 {
            // padding: 0 10px 0 10px;
            font-family: $ArticleTitleFont;
          }

          p {
            line-height: 1.5;
            // padding: 0 10px 0 10px;
            text-align: justify;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
          font-family: $NavBarFont;
          margin: 0px;
        }

        .posts {
          display: flex;
          flex-direction: column;
          gap: 25px;

          .post {
            display: flex;
            flex-direction: column;

            img {
              width: 100%;
              height: 200px;
              object-fit: cover;
              border-radius: 20px;
            }

            h3 {
              margin-top: 10px;
              margin-bottom: 10px;
              font-family: $ArticleTitleFont;
            }

            button {
              @extend %ArticleButton;
            }
          }
        }
      }
    }
  }
}
